<!doctype html>
<html>
    <head>
        <meta charSet="utf-8" />
        <title>XYD</title>
        <link rel="stylesheet" href="<%= context.config.publicPath %>swiper.css">
        <style>
            @font-face {
                font-family: 'playfair_displayblack';
                src: url('<%= context.config.publicPath %>fonts/playfair-black/playfairdisplay-bold.woff2') format('woff2'),
                    url('<%= context.config.publicPath %>fonts/playfair-black/playfairdisplay-blold.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }

            @font-face {
                font-family: 'poppinslight';
                src: url('<%= context.config.publicPath %>fonts/poppins-light/poppins-light-webfont.woff2') format('woff2'),
                    url('<%= context.config.publicPath %>fonts/poppins-light/poppins-light-webfont.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }

            @font-face {
                font-family: 'poppinsmedium';
                src: url('<%= context.config.publicPath %>fonts/poppins-medium/poppins-medium-webfont.woff2') format('woff2'),
                    url('<%= context.config.publicPath %>poppins-medium/poppins-medium-webfont.woff') format('woff');
                font-weight: normal;
                font-style: normal;
            }
        </style>
    </head>
    <body>
        <div id="root"></div>
    </body>
</html>